include includes/header.pug
body 
    h1 #{genre.genreName} (#{movieCount} movies in total)
    .movies
        each movie in movies
            .movie(id=`${movie.movieId}`)
                img(src=`https://image.tmdb.org/t/p/w500${movie.posterPath}`, alt=movie.title)
                p #{movie.title}
    .buttonWrapper
        button.button.loadMoreButton(data-next-page="2" data-genre-id=`${genre.genreId}`) Load more movies