include includes/header.pug
body.movieInfoPage(style=`background-image: url("https://image.tmdb.org/t/p/original${movieInfo.backdropPath}");`)
    span(id="backArrow") ←
    .movieInfoBox
        h1 #{movieInfo.title}
        h2 Description
        p #{movieInfo.description}
        p Release year: #{movieInfo.releaseYear}
        p Genres: #{movieInfo.genreNames}
        p Directors: #{movieInfo.directors}
        p Actors: #{movieInfo.actors}
    .coverAndTrailer    
        .movie
            img(src=`https://image.tmdb.org/t/p/w500${movieInfo.posterPath}`, alt=`Cover of ${movieInfo.title}`)
        if movieInfo.trailerKey
            iframe(width="550", height="309", src=`https://www.youtube.com/embed/${movieInfo.trailerKey}`, frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
    if inWishlist
        button.button#removeFromWishlistButton(data-movie-id=`${movieInfo.id}` style="display: inline-block;") Remove from Wishlist
        button.button#saveToWishlistButton(data-movie-id=`${movieInfo.id}` data-movie-title=`${movieInfo.title}` data-movie-poster-path=`${movieInfo.posterPath}` style="display: none;") Save to Wishlist
    else
        button.button#removeFromWishlistButton(data-movie-id=`${movieInfo.id}` style="display: none;") Remove from Wishlist
        button.button#saveToWishlistButton(data-movie-id=`${movieInfo.id}` data-movie-title=`${movieInfo.title}` data-movie-poster-path=`${movieInfo.posterPath}` style="display: inline-block;") Save to Wishlist

